$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
body {
	background-color: white;
  background-image: url('/images/symphony.png');
  background-repeat: repeat;
	font-family: 'Josefin Sans';
	position: relative;
}
h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bolder;
	color: pink;
}
table {
  margin: 0 auto;
  border-radius:10px;
	background: rgba(255,255,255,0.5);
}
$cellSize: 100px;

td {
  border: 1px solid grey;
  width: $cellSize;
  height: $cellSize;
  text-align: center;
  font-size: 4em;
  box-sizing:border-box;
}

td:hover{
  cursor:pointer;
}

td:first-child{
  border-left: none;
}
td:last-child{
  border-right: none;
}

td:nth-child(2n+2){
  border-right: none;
  border-left: none;
}

thead tr td{
  border-top:none;
  border-bottom: none;
}

tfoot tr td{
  border-top:none;
  border-bottom: none;
}

.container, .playerTurn {
  text-align: center;
}

@mixin color {
	color:white;
}

.X, .O {
	@include color;
  border-radius: 10px;
}
.X {
  background: grey;
}
.O {
  background: pink;
}

.clear {
  background: white;
}

#reset {
	margin-top: 15px;
  padding: 10px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

// #reset:hover{
//   background: #b8bdee;
//   border-color: white;
// }
